.nav1 {
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    /* height of nav  */
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav1 .nav-menu1 {
    justify-content: space-between;
}

.nav1 .toggle-collapse1 {
    position: absolute;
    cursor: pointer;
    display: none;
    width: 90%;
}

.nav1 .toggle-collapse1 .toggle-icons1 {
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav1 .toggle-collapse1 .toggle-icons1 i {
    font-size: 1.4rem;
    color: var(--text-gray);
    margin-right: 10px;
}

.collapse1 {
    height: 35rem;
}

.nav1 .nav-items1 {
    display: flex;
    margin: 0;
    margin-right: 35rem;
}

.nav1 .nav-items1 .nav-link1 {
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Lexend);
    font-size: 1.1rem;
}

.nav1 .nav-items1 .nav-link1:hover {
    background-color: var(--midnight);
}

.nav1 .nav-items1 .nav-link1:hover a {
    color: var(--white);
}

.nav1 .nav-brand1 a {
    padding: 1rem 0;
    display: block;
    font-family: var(--Abel);
    font-size: 1.8rem;
    margin-top: 5px;
    font-weight: bold;
}

main .blog {
    height: 100vh;
}

main .blog .blog-post {
    padding-top: 5rem;
}

main .blog .blog-post>.blog-content .img {
    width: 100%;
    transition: all 1s ease;
}

main .blog .blog-post>.blog-content .img:hover {
    transform: scale(1.3);
}

@media only screen and (max-width: 750px) {
    .nav1 {
        min-height: 9vh;
    }
    .nav1 .nav-menu1, .nav1 .nav-items1 {
        flex-direction: column;
    }
    .nav1 .toggle-collapse1 {
        display: initial;
    }
}